* {
  border-radius: 0 !important;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #dedede;
}
.item-save-form {
  margin: 35px 0;
  padding: 35px 35px 30px;
  border: 1px #eaeaea solid;
  background: #fff;
  background: -moz-linear-gradient(top, #fff 0%, #f6f6f6 47%, #efefef 100%);
  background: -webkit-linear-gradient(top, #fff 0%, #f6f6f6 47%, #efefef 100%);
  background: linear-gradient(to bottom, #fff 0%, #f6f6f6 47%, #efefef 100%);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.13);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.13);
}
.item-save-form input,
.item-save-form textarea {
  border: 1px #dbdbdb solid;
  padding: 18px;
}
.item-save-form .btn {
  padding: 10px 30px;
}
.item-save-form .item-name-field {
  width: 30%;
  margin-bottom: 15px;
}
.item-save-form .item-description-field {
  width: 50%;
  margin-bottom: 15px;
}
.item-rows {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.13);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.13);
}
.item-rows .item-row {
  position: relative;
  overflow: hidden;
  border-bottom: 1px #dedede solid;
  background: #fff;
  background: -moz-linear-gradient(top, #fcfcfc 0%, #f6f6f6 47%, #efefef 100%);
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #f6f6f6 47%, #efefef 100%);
  background: linear-gradient(to bottom, #fcfcfc 0%, #f6f6f6 47%, #efefef 100%);
}
.item-rows .item-row .item-id,
.item-rows .item-row .item-title,
.item-rows .item-row .item-content,
.item-rows .item-row .edit-item {
  display: inline-block;
  width: auto;
  padding: 20px;
  text-align: center;
}
.item-rows .item-row .item-id {
  width: 60px;
  background-color: #fff;
  background: #efefef; /* Old browsers */
  background: -moz-linear-gradient(top, #efefef 0%, #fff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #efefef 0%, #fff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #efefef 0%, #fff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-right: 1px #dedede solid;
}
.item-rows .item-row .item-title,
.item-rows .item-row .item-content {
  text-align: left;
}
.item-rows .item-row .item-title {
  width: 25%;
  border-right: 1px #dedede solid;
}
.item-rows .item-row .item-content {
  width: 55%;
}
.item-rows .item-row .item-id,
.item-rows .item-row .item-title,
.item-rows .item-row .item-content {
  font-weight: bold;
  color: #333;
}
.item-rows .item-row .edit-item {
  position: absolute;
  right: 20px;
  height: 20px;
  width: 20px;
}
.item-rows .item-row .edit-item .edit-icon {
  color: #0776aa;
  font-size: 18px;
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
}
.item-rows .item-row .delete-item {
  position: absolute;
  right: 60px;
  top: 10px;
  height: 20px;
  width: 20px;
}
.item-rows .item-row .delete-item .delete-icon {
  color: #ad3e3e;
  font-size: 28px;
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
}
.edit-item-modal {
  position: absolute;
  top: 15%;
  left: 30%;
  right: 30%;
  z-index: 2;
  margin: 40px 0;
  padding: 40px 40px 30px;
  border: 1px #eaeaea solid;
  background: #fff;
  background: -moz-linear-gradient(top, #fff 0%, #f6f6f6 47%, #efefef 100%);
  background: -webkit-linear-gradient(top, #fff 0%, #f6f6f6 47%, #efefef 100%);
  background: linear-gradient(to bottom, #fff 0%, #f6f6f6 47%, #efefef 100%);
  -webkit-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.19);
  -moz-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.19);
  box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.19);
}
.edit-item-modal input,
.edit-item-modal textarea {
  border: 1px #dbdbdb solid;
  padding: 20px;
}
.edit-item-modal .btn {
  padding: 10px 30px;
}
.edit-item-modal .close-edit-modal {
  cursor: pointer;
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 180%;
  position: absolute;
  top: 20px;
  right: 20px;
}
.edit-item-modal input {
  width: 40%;
  margin-bottom: 20px;
}
.edit-item-modal textarea {
  width: 70%;
  margin-bottom: 20px;
}
.delete-modal {
  left: 30%;
  right: 30%;
}
.reorder-items {
  background-color: #f0f0f0;
  padding: 5px;
  text-align: right;
  margin-bottom: 4px;
}
@media only screen and (min-width: 1300px) {
  .delete-modal {
    left: 35% !important;
    right: 35% !important;
  }
}
@media only screen and (max-width: 1300px) {
  .delete-modal {
    left: 25% !important;
    right: 25% !important;
  }
  .edit-item-modal {
    left: 10%;
    right: 10%;
  }
}
@media only screen and (max-width: 800px) {
  .delete-modal {
    left: 10% !important;
    right: 10% !important;
  }
}
